.playlist {

    margin: auto auto;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%;
    padding: 200px 100px;
}

.playlist-container {
    width: 350px; 
    padding: 15px;
}


.song-item {
    display: flex;
    align-items: center; 
    gap: 15px;       
    margin-bottom: 10px;
    width: 100%;
}

.song-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.section-input {
    display: flex;
    justify-content: center;
    width: 100%;

    position: absolute;
    top: 100px; 
}

.section-input .input {
    width: 50%; 
    max-width: 600px;
}