@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px; 
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 10000;
    box-sizing: border-box;
}

/*la gauche*/
.navbar-left {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    max-width: fit-content;
    flex: 1;
}

.navbar-left h3{
    padding: 0;
    line-height: 0.7;
    align-items: flex-end;
    display: flex;
    align-items: center;
    font-weight:700;
    color: white;
    min-width: auto;

}

.circle-wrapper img{
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    border: 3px solid #6E31DE;    
}

.circle-wrapper:hover{
    animation: pulse 1.5s ease-in-out infinite;
    cursor: pointer;   
}

.nav-logo {
    height: 60px; 
    width: auto;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}


/*le milieu*/
.navbar-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    gap: 30px; 
    flex: 1;
    width: auto;
}



/*la droite*/
.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.btnSF {
    display: flex;
    align-items: center;
    
    margin-top:auto;
    margin-bottom: auto;

    background-color: #6E31DE !important;
    color: rgb(255, 255, 255) !important;
    border: none;
    border-radius: 20px; 
    transition: transform 0.2s;
    font-weight: 400;
    
}

.btnSF:hover {
    transform: scale(1.05);
}