/* Le conteneur principal fixé en bas */
.player_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #111;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    z-index: 9999;
    box-sizing: border-box;
    
}

.footer{
    height: 100px;
}

/* 1. Contrôles à gauche */
.controls {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 150px;
    margin-bottom: auto;
    margin-top: auto;
}

.btn_action {
    font-size: 30px !important;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn_action:hover {
    transform: scale(1.1);
    color: #7b2cbf;
}

.pp {
    font-size: 45px !important;
}

/* 2. Navigation au centre */
.navigation {
    flex-grow: 1; /* Prend tout l'espace central disponible */
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.navigation_wrapper {
    width: 100%; /* S'adapte à la largeur du parent .navigation */
    height: 6px;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.seek_bar {
    height: 100%;
    background-color: #7b2cbf; /* Ton violet */
    border-radius: 5px;
    /* La largeur est gérée par React (style={{ width: `${progress}%` }}) */
}

.time_info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #aaa;
    margin-bottom: 4px;
}

/* 3. Infos Musique à droite */
.title {
    display: flex;
    align-items: flex-end;
    min-width: 250px;
    justify-content: flex-end;
    margin-top: auto;
}

.cover img {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    margin-right: 12px;
    object-fit: cover;
}

.title p {
    color: white;
    font-size: 14px;
    margin: 0;
}