.nav-logo-home{
    height: 150px; 
    width: 200px;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-home{
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px; 
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    z-index: 10000;
    box-sizing: border-box;
}


.hero-section {
    display: flex;
    align-items: flex-start; 
    padding-top: 150px; 

    padding-left: 10%;
    min-height: 80vh; 
    background-color: #000;
}
.hero-content {
    max-width: 500px;
    text-align: left;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-content h1 {
    justify-content: left;
    font-size: 4rem;
    line-height: 1.1;
    margin: 20px 0;
    color: white;
}

.footer{
    justify-content: center;
    background-color: #000;
}