.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 80vh;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.input, .btnSF, .btnSocial {
    width: 80%;          
    max-width: 400px;    
    margin: 10px 0;
    box-sizing: border-box;
}

.input {
    padding: 15px;        
    font-size: 1rem;    
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #1a1a1a; 
    color: white;
    width: 600px !important;
}
.btnSF {
    background-color: #6E31DE;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
}

.buttons-social-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btnSocial {
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #333;
    padding: 12px;
}

.pas-compte {
  padding-top: 20px;
}