
/* Card styling */
.auth-card {
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 12px;

}

.inputSF{
  color: #6E31DE;
}

.card{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.body{
    align-items: center;
}

.NameWebSite{
    margin-top: 100px;
    font-size: 3rem;
    font-weight: bold;
    font-family: Monaco, "Lucida Console", "Courier New", monospace;
}

.button{
    margin : 10px
}

.buttons-social-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.input{
    margin-top: 10px;
    flex: auto;
    margin-bottom: 15px;
    width: 60%;
}

.btnSF{
  color: black;
  background-color: #6E31DE;
}

.btnSocial{
  background-color: #000;
  width: 60%;
}

.loginContainer{
  width: 500px;
}

.pas-compte{
  font-weight: bold;
  margin: 5px;
}

