#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button{
  border-radius: 20px;
}

